<!doctype html>
<html>
<head>
    <script>
        function KmlGenController($scope) {
            $scope.situationEnable = true;
            $scope.movementsEnable = true;
            $scope.tracksEnable = true;
        }
    </script>
</head>
<body>
    <div class="modal large fade" id="event-kmlgen-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-app>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Export event to KML format</h3>
                </div>
                <div class="modal-body">
                    <div id="kmlgen-warning" class="alert alert-warning"></div>

                    <form class="form-horizontal" role="form" ng-controller="KmlGenController">
                        <h4><u>Targets</u></h4>

                        <div class="form-group">
                            <label for="kmlgen-event-north" class="col-sm-2 control-label">North bound</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="kmlgen-event-north" placeholder="latitude deg°min'sec.h">
                            </div>
                            <label for="kmlgen-event-west" class="col-sm-2 control-label">West bound</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="kmlgen-event-west" placeholder="longitude deg°min'sec.h">
                            </div>

                            <label for="kmlgen-event-south" class="col-sm-2 control-label">South bound</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="kmlgen-event-south" placeholder="latitude deg°min'sec.h">
                            </div>
                            <label for="kmlgen-event-east" class="col-sm-2 control-label">East bound</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="kmlgen-event-east" placeholder="longitude deg°min'sec.h">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="kmlgen-event-from" class="col-sm-2 control-label">From</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="kmlgen-event-from" placeholder="ISO 8601 format">
                            </div>
                            <label for="kmlgen-event-to" class="col-sm-2 control-label">To</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="kmlgen-event-to" placeholder="ISO 8601 format">
                            </div>
                        </div>

                        <hr />

                        <h4><u>KML</u></h4>

                        <div class="form-group">
                            <label for="kmlgen-event-title" class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="kmlgen-event-title" placeholder="title">
                            </div>
                            <label for="kmlgen-event-description" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="kmlgen-event-description" placeholder="description">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="kmlgen-event-primary-mmsis" class="col-sm-2 control-label">Primary</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="kmlgen-event-primary-mmsis" placeholder="mmsi">
                            </div>
                            <label for="kmlgen-event-secondary-mmsis" class="col-sm-2 control-label">Secondary</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="kmlgen-event-secondary-mmsis" placeholder="mmsi">
                            </div>
                        </div>

                        <h4>Folders</h4>

                        <div class="form-group">
                            <label for="kmlgen-event-situation-enable" class="col-sm-2 control-label">Situation</label>
                            <div class="col-sm-1">
                                <input class="form-control" id="kmlgen-event-situation-enable" type="checkbox" checked ng-model="situationEnable">
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label" for="kmlgen-event-situation-at">at time</label>
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" id="kmlgen-event-situation-at" placeholder="ISO 8601 format" ng-disabled="!situationEnable">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="kmlgen-event-movements-enable" class="col-sm-2 control-label">Movements</label>
                            <div class="col-sm-1">
                                <input class="form-control" id="kmlgen-event-movements-enable" type="checkbox" checked ng-model="movementsEnable">
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label" for="kmlgen-event-movements-interpolation-interval">interpolation</label>
                            </div>
                            <div class="col-sm-1">
                                <input class="form-control" id="kmlgen-event-movements-interpolation-interval" placeholder="secs" value="1" ng-disabled="!movementsEnable">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="kmlgen-event-tracks-enable" class="col-sm-2 control-label">Tracks</label>
                            <div class="col-sm-1">
                                <input class="form-control" id="kmlgen-event-tracks-enable" type="checkbox" checked ng-model="tracksEnable">
                            </div>
                            <div class="col-sm-2" hidden>
                                <label class="control-label" for="kmlgen-event-movements-interpolation-interval">for</label>
                            </div>
                            <div class="col-sm-7" hidden>
                                <label class="checkbox-inline"><input type="checkbox" id="kmlgen-event-track-car" ng-disabled="!tracksEnable" value="trackCar">Cargo</label>
                                <label class="checkbox-inline"><input type="checkbox" id="kmlgen-event-track-tan" ng-disabled="!tracksEnable" value="trackTan">Tankers</label>
                                <label class="checkbox-inline"><input type="checkbox" id="kmlgen-event-track-pax" ng-disabled="!tracksEnable" value="trackPas">Passenger</label>
                                <label class="checkbox-inline"><input type="checkbox" id="kmlgen-event-track-fis" ng-disabled="!tracksEnable" value="trackFis">Fishing</label>
                                <label class="checkbox-inline"><input type="checkbox" id="kmlgen-event-track-clb" ng-disabled="!tracksEnable" value="trackClb">Class B</label>
                                <label class="checkbox-inline"><input type="checkbox" id="kmlgen-event-track-oth" ng-disabled="!tracksEnable" value="trackOth">Other</label>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="kmlgen-event" data-dismiss="modal"><span class="glyphicon glyphicon-download-alt"></span>Export</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <script>
        var appNode = $('#event-kmlgen-modal');
        angular.module('eventKmlGen', []);
        angular.element(appNode).ready(function() {
            angular.bootstrap(appNode, ['eventKmlGen']);
        });
    </script>
</body>
</html>
