div.headline {
    font-size: medium;
    font-weight: bold;
    margin-top: 20px;
}

div.headline:first-child {
    margin-top: 0px;
}

div.useroutput {
    font-size: smaller;
}

div.dataTables_wrapper{
    width: 600px;
    display: table;
}

.percentage {
    text-align: right;
}

.count {
    text-align: right;
}

input.checkbox {
    width: 24px;
}

li {
    font-size: smaller;
}

span.glyphicon {
    margin-right: 1ex;
}

button {
    margin: 5px;
}

table#statisticTable td {
    text-align: right;
    vertical-align: baseline;
}

table#statisticTable th {
    text-align: right;
}

table#statisticTable th:first-child {
    text-align: left;
}

table#statisticTable td:first-child {
    text-align: center;
    font-weight: bold;
}

/* Event modal */
.modal.large {
    width: 80%;
    /*margin-left: -40%;*/
}

.modal-dialog {
    width: 80%;
}

#event-search-modal .form-group input[type='checkbox'] {
    width: 30px;
}

#event-search-modal .search-show-all {
    text-align: right;
}

#event-search-modal .search-results .search-data {
    max-height: 256px;
    overflow: scroll;
}

/* Sticky footer styles
   -------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    width: 95%;
    height: auto !important;
    margin: 0 150px -60px 50px; /* Negative indent footer by it's height */
}

div#map {
    width: 100%;
}

#main-column-left {
    float: left;
    width: 100%;
    padding-right: 350px;
}

#main-column-right {
    float: right;
    margin-left: -100%;
    width: 300px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}